/* Write your code here. */
.thumbnailItem button {
  border-style: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thumbnailImage {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 80px;
}
.opacityImg {
  opacity: 0.5;
}
